<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Top 10</title>
    <h1>Welcome to the trend browser!</h1>
    <h2>Your source for trends in America's cities</h2>
</head>
<body>
    <br>
    <h2>Learn about a city</h2>
    <p>Current cities available</p>
        <p><a href='/city/nashville'>nashville</a></p>
        <p><a href='/city/chicago'>chicago</a></p>
        <p><a href='/city/houston'>houston</a></p>
        <p><a href='/city/philadelphia'>philadelphia</a></p>
    </form>
</body>
</html>